@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding: 88px;
}

.Toastify__toast-container {
  left: unset !important;
  top: 0.5rem !important;
  right: 0.5rem !important;
  width: var(--toastify-toast-width) !important;
}
.Toastify__toast-body {
  padding: 3px !important;
  font-size: 14px !important;
}
.Toastify__toast {
  border-radius: 8px !important;
  padding: 4px !important;
  margin-bottom: 0 !important;
}
